doctype html
html(lang='en')
  head
    title Eli Mensch // Portfolio
    link(href='css/styles.min.css', rel='stylesheet')
  body
    canvas#canvas
    .wrapper
      .title-container
        h1
          | ELI MENSCH
        h2
          | coming soon
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(type="text/javascript", src="js/app.js")